@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.blogCard {
  
  margin: 1rem 0;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
  }

  &-collapse {
    padding: 1rem;
  }

  &__header {
    padding: 0.5rem;
    color: $black;
    @include body-text;
    font-size: 1rem;
  }
}

.Collapsible__contentInner {
  margin: 1rem;
}