@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.initial {
  padding-top: 1rem;
  border-bottom: 2px solid $dark-blue;
  border-radius: 0;

  @include breakpoint {
    margin: 1.5rem 0;
  }


  &__header {
    @include sub-header;
    font-size: 1.3rem;
    padding: 1.2rem 1rem 0.5rem 1rem;

    @include breakpoint {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
  }

  &__description {
    @include body-text;
    padding: 1rem 1rem 1.5rem 1rem;

    @include tablet {
      padding: 1rem 1.5rem 2rem 1.5rem;
      color:red;
    }
  }

  &__post {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    

    @include tablet {
      padding: 1.5rem 0;
    }
  }


  &__post_content {
    @include body-text;
    padding: 1rem 1rem 2rem 1rem;

    @include tablet {
      padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    }
  }

  &__post_del {
    
    position: absolute;
    right: 5%;
    top: 6%;
  }

  &__form {
    padding: 0.5rem 0rem;
  }

}

