@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.public {

  // margin: 1rem 0;

  &__card {
    background-color: #28282B;
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    gap: 0.8rem;
  }

  &__username {
    @include section-header; 
  }

  &__bio {
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
  }

  &__status {
    
    margin: 0 1rem 1rem 1rem;
    
  }

  &__button {
    margin-top: 0.3rem;
  }

  &__content {
    text-align: center;
  }


  &__status_text {
    line-height: 1.5rem;
    @include body-text;
    
    @include tablet {
      margin-left: 0.5rem;
    }
  }


  &__status_content {
    padding: 0.5rem 1rem 0 1rem;
  }


  &__options {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    background-color: white;
    border-top-right-radius: 4em;

  }

  &__options_text {
    @include sub-header;
  }


  &__blog { 
    margin: 0 1rem 1rem 1rem;
  }

  &__blog_content {
    padding: 0.5rem 1rem 0.5rem 1rem;

    &:hover {
      text-decoration: underline;
    }

    @include tablet {
      
    }
  }

  &__blog_title {
    
    padding: 0rem 0 0.5rem 0rem;

    @include sub-header;
    // padding: 0.5rem 1rem 1rem 0rem;


    @include tablet {

    }

  }

  &__blog_descr {
    margin-bottom: 0.5rem;
  }

  &__loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }


  &__actions {
    display: flex;
    flex-direction: column;
  }

}