@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.public {

  
  
  &__main {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 1rem 0.5rem 1rem;

    @include tablet {
      padding: 2.5rem 2rem 0.5rem 2rem;
    }
  }

  &__main_img {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  &__main_bio {
    padding-top: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__main_username{
    @include section-header;
  }

  &__main_created {
    font-size: 0.7rem;
  }

  &__followers {
    display: flex;
    padding: 1rem 0;
    justify-content: space-evenly;
    text-align: center;
    background-color: #28282B;
    color: white;
  }

  &__followers_length {
    
  }

  &__followers_num {
    text-align: center;
  }

  &__followers_text {
    text-align: center;
    
  }


  &__options_text {
    color: white;
    padding: 1rem 0;
    @include body-text;
    border-top-left-radius: 40px;
    text-align: center;
    background-color: $medium-blue;
  }

  &__options_text_right {
    color: white;
    @include body-text;
    text-align: center;
    background-color: $medium-blue;
    padding: 1rem 0;
    border-top-right-radius: 40px;
  }

  &__userposts {
    background-color: white;
    padding-top: 0.5rem;
    // border: 1px solid red;
  }

  &__status {
    margin: 1rem;

    @include tablet {
      margin: 1.5rem 0;
    }
  
  }

  &__button {
    margin-top: 0.3rem;
    text-align: center;
  }

  &__content {
    
    text-align: center;
  }


  &__status_text {
    line-height: 1.5rem;
    @include body-text;
    
    @include tablet {
      margin-left: 0.5rem;
    }
  }


  &__status_content {
    padding: 0.5rem 1rem 0 1rem;
  }

  &__blog { 
    margin: 0 1rem 1rem 1rem;
  }

  &__blog_content {
    padding: 0.5rem 1rem 0.5rem 1rem;

    &:hover {
      text-decoration: underline;
    }

    @include tablet {
      
    }
  }

  &__blog_title {
    
    padding: 0rem 0 0.5rem 0rem;

    @include sub-header;
    // padding: 0.5rem 1rem 1rem 0rem;


    @include tablet {

    }

  }

  &__blog_descr {
    margin-bottom: 0.5rem;
  }

  &__loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }


  &__actions {
    display: flex;
    flex-direction: column;
  }



}

