@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.threads {
  padding:  0 1rem 0.5rem 1rem;


  @include tablet {
    padding: 2rem;
  }

  &__section {
    @include section-header;
    color: $dark-blue;
    margin-bottom: 1rem;

    @include tablet { 
      margin-bottom: 1.5rem;
    }
  }

  &__header {
    font-weight: 500;
    @include sub-header;
    
  }

  &__text {
    @include body-text;
    
  }

  &__container {
    width: 100%;
    
  }
}

