@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.threads {
  padding:  0 1rem 0.5rem 1rem;


  &__section {
    @include section-header;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }

  &__header {
    font-weight: 500;
    @include sub-header;
  }

  &__text {
    @include body-text;
    
  }
}

