@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.threads {
  padding:  0 1rem 0.5rem 1rem;


  @include tablet {
    padding: 1.5rem 1.2rem 0 1.2rem;
  }

  &__section {
    padding-bottom: 1.5rem;

    @include section-header;
    color: $dark-blue;
    
    @include tablet { 
      // padding: 0 1.5rem 0 1.5rem;
      font-size: 1.5rem;
    }
  }


  &__body {
    margin-bottom: 1.3rem;
  }

  &__header {
    font-family: 'Helvetica', sans-serif;
    @include tablet-text;
    font-weight: 600;
    padding-bottom: 1rem;
  }


  

  &__text {
    @include body-text;
    
    cursor:pointer;

    @include tablet {
      @include tablet-text;
    }
    
  }

  &__user {
    display: flex;
    align-items: center;
    // border: 1px solid red;
    // gap: 2rem;
    padding: 0 1rem 1rem 1rem;
  }

  &__username {
    @include tablet-text;
    font-weight: 500;
    padding-left:1rem;
  }

  &__created {
   padding-left:1rem;
  }

  &__container {
    width: 100%;
    
  }
}

