@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.newsfeed {
  padding: 2rem;

  @include breakpoint {
    padding: 3rem ;
  }

  &__card {
    max-width: 320px;
    height: 275px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    color: black;
    line-height: 1.3rem;
  }

  &__source {
    position: absolute;
    bottom: 5%;
  }

  &__pagination {
    display: flex;
    margin-top: 2rem;
    border-radius: 3px;
    padding: 1rem 0;
    justify-content: space-evenly;
    background-color: #264653;
    color: white;

    @include tablet {
      margin-top: 2rem;
    }
  }

  &__pagination_item {
    cursor: pointer;

    &:hover {
      font-size: large;
    }
  }
}