@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.edit {

  &__form {
    margin: 1rem 0 1rem 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 250px;

    @include tablet {
      width: 350px;
      margin: 1.5rem 0 1.5rem 0;
    }
  }

    &__form_title {
      font-size: 1.2rem;
    }

}