@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.blogComment {
  
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    // background-color: white;
  }

  &__form_input {
    flex: 1;
    margin-top: 1rem;
  }

  &__title {
    padding-left: 1rem;
    @include body-text;
    font-size: 1rem;
    color: $black;
    
  }
}

.Collapsible__contentInner {
  margin: 1rem;
}