@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss'as *;

.dashnav {
  background-color: #60A5FA;
  padding: 1rem 0;

  @include tablet {
    display: flex;
    justify-content: space-between;
    background-color: #60A5FA;
    padding: 2rem;
  }

  &__nouser {
      @include tablet {
        display: flex;
        justify-content: space-between;
        background-color: #60A5FA;
        padding: 2rem;
      }
  }

  SVG {
    color: #ffffff;
  }


  &__header {
    padding: 1rem 0 2rem 0;
    font-size: 2.5rem;
    
    cursor: pointer;
    text-align: center;
    color: white;

    &:hover {
      text-decoration: underline;
    }

    @include tablet {
      padding: 0;
    }
  }

  &__logo {
    // padding: 1rem 0;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    @include tablet {
      gap: 5rem;
      justify-content: end;
      
    }
  }

  &__logout {
    display: none;

    @include breakpoint {
      display: flex;
      padding: 1rem 0;
      gap: 0.5rem;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 5%;
      color: white;
      cursor: pointer;
    }
  }
}

