@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss'as *;

.dashnav {

  @include breakpoint {
    padding: 0 1rem;
    z-index: 1;
    width: 100%;
    background-color: #14171A;
  }

  &__nouser {
      @include breakpoint {
        padding: 0 1rem;
        z-index: 1;
        width: 100%;
        background-color: #14171A;
      }
  }

  SVG {
    color: #ffffff;
  }

  &__container {
    padding: 1rem 1.5rem;
    background-color: #14171A;
    display: flex;
    flex-direction: column;
    

    @include tablet {
      padding: 1rem 2.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__header {
    padding: 1rem 0 2rem 0;
    font-size: 2.5rem;
    color: $medium-blue;
    cursor: pointer;
    text-align: center;
  }

  &__logo {
    // padding: 1rem 0;
    text-align: center;
  }

  &__search {
    align-self: center;
    display: flex;
    // padding-bottom: 1rem;

    @include breakpoint {
      padding: 0;
      // margin-left: 1rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    @include tablet {
      gap: 5rem;
      justify-content: end;
      
    }
  }

  &__logout {
    display: none;

    @include breakpoint {
      display: flex;
      padding: 1rem 0;
      gap: 0.5rem;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 5%;
      color: white;
      cursor: pointer;
    }
  }
}

