@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.createThread {

  padding: 1rem; 


  &__header {
    @include section-header;
    
    
    @include tablet {
    
      padding: 1.5rem 0;
    }
  }

  &__form {
    margin: 1.5rem 0 1rem 0;
    
  }
 
  &__subhead {
    padding: 1rem 0;
    @include body-text;
  }

  &__button {
    text-align:right;
    padding-top: 0.5rem;
  }

}