@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.bottomNav {
  padding: 1rem 0;
  background-color: $black;

  @include beforeTablet {
    display: none;
  }

  &__menu {
    background-color: $black;
    text-align: center;
    // padding-bottom: 1rem;
  }

  &__menu_link {
    
    color: white;
    align-items: center;
  }

  &__menu_post {
    color: $medium-blue;
    text-align: center;    
  }

  &__menu_nonuser {
    background-color: $black;
    text-align: center;

  }
  &__menu_icon {

    // display: flex;
    // align-items: center;
    // text-align: center;
  }

  &__menu_nonuser_link {
    // text-align: center;
    // padding: 0.2rem 0;
    color: whitesmoke;
    font-weight: 500;
  }
}
