@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.bottomNav {
    background-color: $black;
    padding: 0.5rem 0;

    @include beforeTablet {
        display: none;
    }

    &__menu {

        text-align: center;
        padding: 0.5rem 0;
    }

    &__menu_link {
        a {
            color: whitesmoke;
        }
        color: white;
        align-items: center;
    }

    &__menu_post {
        color: $medium-blue;
        text-align: center;
    }

    &__menu_nonuser {
        background-color: $black;
        text-align: center;
        padding: 0.5rem 0;
    }

    &__menu_nonuser_link {
        a {
            font-size: 1rem;
            color: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            text-decoration: none;

            font-weight: 500;
        }

        p {
            font-weight: 600;
        }
    }
}
