@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.bottomNav {

  
  &__menu {
    background-color: white;
    padding-bottom: 1rem;
  }

  &__menu_link {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    align-items: center;
  }

  &__menu_post {
    color: $medium-blue;
    text-align: center;    
  }
}
