@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.status {

  &__icon {
    
    color: #007ee5;

    @include beforeTablet {
      color: white;
    }
    
  }

  &__form_header{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 200px;
    // padding: 1rem 0;

  }

  &__input {
    margin-bottom: 1.5rem;
    
  }

  &__count {
    text-align: center;
    padding-top: 1rem;
  }

  input {
    background-color: white;
  }
}