.comment {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
  margin-top: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid black;

  &__user {
    padding: 1rem 0;
  }

  &__text {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius: 3px;
  }

  &__timestamp {
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }

  &__length {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__btn {
    display: inline-flex;
  }

}