@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;

.postCard {
  // color: white;
  // background-color: $medium-blue;  
  

  &__form {
    display: flex;  
    flex-direction: column;
    margin: 0 auto;
    background-color: white;  
  }

  &__form_input {
    flex: 1;
  }

  &-collapse {

    // padding: 1rem;
  }

  &__title {
    padding-left: 1rem;
    color: $dark-blue;
    font-size: 1rem;
    font-weight: 600px;
    
  }
}

.Collapsible__contentInner {
  margin: 1rem;
}