@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.user {

  // max-width: 900px;
  
  &__blog {
    position: relative;
    margin-bottom: 1rem;
    
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  
  &__delete {
    top: 7%;
    right: 3%;
    position: absolute;
    @include tablet {
      padding: 1.5rem;
    }
  }

  &__blog_preview {
    padding: 0.5rem 1rem 1rem 1rem;
    @include body-text;

    @include tablet {
      padding: 1rem 1.5rem 1.5rem 1.5rem;
      @include tablet-text;
    }
  }

  &__status {
    position: relative;
    margin: 1rem 0;
  }

  &__status_post {
    
    padding: 0 1rem 1rem 1rem;
    @include body-text;

    @include tablet {
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
      @include tablet-text;
    }
  }

  &__threads {
    position: relative;
    margin: 1.5rem 0 1rem 0;
  }
  
  &__thread_card {
    margin: 1rem 0rem;
  
    @include tablet {
      margin: 1.5rem 0;
      padding: 0 1rem;
    }
  }

  &__threads_post {
    @include body-text;
    padding: 0.5rem 1rem 1rem 1rem;
    
    @include tablet {
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
      @include tablet-text;
    }
  }
  

  &__options {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;    
    font-size: 0.9rem; 
    padding: 1rem 0;
    background-color: #28282B;
    border-top-right-radius: 4em;
    background-color: $medium-blue;
  }

  &__options_list{
    @include sub-header;    
    text-align: center;
    font-weight: 500; 
    color: white;  
    cursor: pointer; 
  }

  &__content {
    margin-top: 1.5rem;
    padding: 0 1rem;
    

    @include tablet {
      padding: 0;
    }

  }


  &__posts {
    
  }

  &__posts_options {
    text-align: center;
    @include sub-header;
    color: $dark-blue;
  }

  &__posts_body {
    margin: 1rem 0;
    
  }


  &__thread_username {
    padding: 0 1rem;
    cursor: pointer;

    @include tablet {
      padding: 0 1.5rem;
    }
  }

  &__follow {
    margin: 1rem 0rem;
  }

  &__follow_header {
    @include section-header;
    color: $dark-blue;
    padding: 0.5rem 0 1.5rem 0;

    @include tablet {
      padding: 1rem 0 2rem 0;
    }
  }

  &__follow_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid red;
    align-items: center;
  }

  &__follow_user {
    @include body-text;
    font-size: 0.9rem;

  }



  &__follow_img {
    
  }

  &__follow_name {
    
    @include body-text;
    cursor: pointer;

    @include tablet {
      @include tablet-text;
    }
  }

  &__follow_text {
    // border: 1px solid red;
  }

  &__follow_bio {
    padding-top: 0.5rem;
    line-height: 1.3rem;
    font-size: 0.9rem;
  }


}