@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.user {

  
  &__blog {
    position: relative;
    margin-bottom: 1rem;
    
  }
  
  &__delete {
    top: 7%;
    right: 3%;
    position: absolute;
    @include tablet {
      padding: 1.5rem;
    }
  }

  &__blog_preview {
    padding: 0.5rem 1rem 1rem 1rem;
    @include body-text;
  }

  &__status {
    position: relative;
  }

  &__status_post {
    
    padding: 0 1rem 1rem 1rem;
    @include body-text;
  }

  &__threads {
    position: relative;
    margin: 1.5rem 0 1rem 0;
  }
  
  &__thread_card {
    margin: 1rem 0rem;
  
    @include tablet {
      margin: 1.5rem 0;
      padding: 0 1rem;
    }
  }

  &__threads_post {
    @include body-text;
    padding: 0.5rem 1rem 1rem 1rem;
  }
  

  &__options {
    font-weight: 500;    
    font-size: 0.9rem;
    background-color: #28282B;
    
  }

  &__options_grid {
    border-top-right-radius: 4em;
    padding: 0.5rem;
    background-color: #fff;
  }

  &__options_list{
    text-align: center;
    font-weight: 500;   
    cursor: pointer; 
  }

  &__content {
    margin-top: 1rem;
    padding: 0 1rem;
  }


  &__posts {
    
  }

  &__posts_options {
    text-align: center;
  }

  &__posts_body {
    margin: 1rem 0;
    
  }


  &__thread_username {
    padding: 0 1rem;
    cursor: pointer;

    @include tablet {
      padding: 0 1.5rem;
    }
  }

  &__follow {
    margin: 1rem 0rem;
  }

  &__follow_header {
    @include section-header;
    padding: 0.5rem 0 1.5rem 0;
  }

  &__follow_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  &__follow_user {
    @include body-text;
    font-size: 0.9rem;

  }

  &__follow_card {
    // display: inline-flex;
    // border: 1px solid red;
    // padding: 1rem;
    padding: 0.5rem 0;
    // gap: 1rem;
    
    // justify-content: center;
    // gap: 0.5rem;

  }

  &__follow_img {
    
  }

  &__follow_name {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  &__follow_text {
    // border: 1px solid red;
  }

  &__follow_bio {
    padding-top: 0.5rem;
    line-height: 1.3rem;
    font-size: 0.9rem;
  }


}