@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.blog {
  margin: 2rem 1rem;
  
  @include tablet {
    margin: 3rem 2rem;
  }

  &__header {
    padding: 0rem 0 1rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    
    @include tablet {
      padding: 1rem 0 1.5rem 0;
      font-size: 2rem;
    }
  }

  &__card {
    max-width: 900px;
    margin: 0 auto;
    // padding: 0 1rem;

    @include tablet {
      padding: 1rem 1.5rem;
    }
  }

  

  &__created {
    padding-bottom: 1.5rem;
    
    @include tablet {
      padding-bottom: 2rem;
    }
  }

  &__post {
    font-size: 1rem;
    line-height: 1.4rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }
}