@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.discuss {
  
  margin: 0 auto;
  padding-top: 1rem;

  @include tablet {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
  }

  @include breakpoint {
    
    // margin: 1rem auto;    
  }

  &__header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: $dark-blue;
    @include sub-header;
    padding: 2rem 1rem 1rem 1rem;
    // align-items: center;
    // padding: 2rem 1.5rem ;
    
    @include tablet {
      padding: 2.5rem 2rem 1.5rem 2rem;
      @include section-header;
      line-height:2rem;
    }
  }

  &__title {
    padding-top: 1rem;
    color: red;
    font-size: 2rem;
    font-weight: 500;
  }

  &__top {
    

    @include tablet {
      width: 35%;
      border: 2px solid $light-blue;
      border-radius: 5px;
    }
  }

  &__bottom {

  
    @include tablet {
      width: 65%;
      border: 2px solid $light-blue;
          // flex: 1;
        }
  }

}