@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.posts {

  max-width: 1000px;
  margin: 0 auto;
  @include tablet {
    
  }

  &__body {
    margin: 1rem;
    border-radius: 3px;
    
    @include tablet {
      margin: 1.5rem 2rem;
    }
  }

  &__header {
    display: flex;
    margin: 2.5rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    
    @include tablet {
      margin: 3.5rem 2rem 2rem 2rem;
    }
  }

  &__subheader {
    font-weight: 500;
    margin: 1.5rem 1rem 2rem 1rem;
    line-height: 1.8rem;

    @include tablet {
      margin: 1.5rem 2rem 2rem 2rem;
    }
  }

  &__title {
    line-height: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    
  }

  &__content {
    padding: 1rem;

    @include tablet {
      padding: 1.5rem;
    }
  }

  &__content_title {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 0 1.5rem 0;
    
    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__content_post { 
    font-size: 0.9rem;
    @include tablet {
      font-size: 1.1rem;
    }
  }

  &__content_comment {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;

    @include tablet {
      padding-left: 1.5rem;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;

    @include tablet {
      padding-right: 1rem;
    }
  }

  &__loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__nouser {
    @include p-text;
    font-weight: 500;
    text-align: right;
  }

  &__comment_nouser {
    @include p-text;
    font-size: 1rem;
    text-align: center;
  }
}
