@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.general {
  
  margin: 0 auto;
  max-width: 1000px;

  @include tablet {
    // margin: 0 2rem;
  }

  @include breakpoint {
    
    // margin: 1rem auto;    
  }

  &__header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem 1rem 1rem;
    // align-items: center;
    // padding: 2rem 1.5rem ;
    
    @include tablet {
      padding: 2.5rem 2rem 1.5rem 2rem;
    }
  }

  &__title {
    // padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

}