@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .delete {
        @apply top-[7%] right-[3%] absolute
    }
    .post-body {
        @apply text-base leading-6
    }
    .post-header {
        @apply text-lg leading-8
    }
    .content {
        @apply post-body px-4 pb-4 pt-2 md:px-6 md:pb-6 md:pt-4
    }
    .content-title {
        @apply text-lg leading-8 px-4 md:px-6
    }
    .section-header {
        @apply font-semibold text-2xl text-white
    }
    .form-btn {
        @apply px-3 py-2 bg-medium_blue text-white uppercase font-medium rounded-lg;
    }
    .loading {
        @apply w-[100px] h-[100px] absolute top-0 bottom-0 left-0 right-0 m-auto
    }
}

.swiper {
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid $dark-blue;

}

.swiper-slide {

    text-align: center;
    background: #fff;
    margin-bottom: 1rem;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 155px;
    object-fit: contain;
}

