@use './mixins.scss' as *;
@use './variables.scss' as *;

.home {
  // height: 100vh;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
  }



  &__image {
    padding: 2.5rem 1.5rem 0rem 1.5rem;
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: auto;

    @include tablet {
      padding: 2.5rem 2rem 0rem 2rem;
    }
  }
  
  &__hero_subhead {
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Helvetica', sans-serif;
    color: $dark-blue;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__welcome {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem 2.5rem 1rem;
    margin: 0 auto;
  }
  
  &__welcome_msg {
    width: 40%;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__bottom {
  
    @include beforeTablet{
      display: flex;
      gap: 1rem;
      padding: 0 2rem;
      align-items: baseline;
    }
  }

  &__about {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 1rem;
    max-width: 496px;

    @include mobileBreak {
      margin: 1.5rem auto;
    }

      @include beforeTablet {
        flex: 1;
        margin: 2rem auto;
      }
  }
  
  &__about_header {
    
    
  }
  
  &__about_text {
    @include tablet-text;
    line-height: 1.7rem;
    padding: 0rem 1rem 1rem 1rem;

    @include tablet {
      padding-top: 0.5rem;
    }
  }

  &__about_dt {
    color: $dark-blue;
    @include tablet-text;
    padding: 0 1rem;
    
  }

  &__about_dd {
    padding: 1rem;
    @include tablet-text;
    line-height: 1.5rem;
  }


  &__form {
    margin: 1rem;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    max-width: 496px;
    gap: 1.2rem;

    @include mobileBreak {
      margin: 0 auto;
    }

    @include beforeTablet {
      flex: 0.6;
      
    }
  }

  &__form_error {
    color: red;
    text-align: center;
    
  }

  &__form_header {
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
    font-family: 'Helvetica', sans-serif;
    font-size:1.3rem;
    // line-height: 1.5rem;
  }

  label {
    @include tablet-text;
    font-weight: 500;
}

input {
  margin-top: 0.5rem;
}
}