@use './mixins.scss'as *;
@use './variables.scss'as *;


.login {
  height: 100vh;
  background-position: center;
  background-size: cover;


  &__container {
    margin: 2rem 1rem;

    @include tablet {
      margin: 3rem 1.5rem;
    }
  }

  &__form_header {
    padding-bottom: 2rem;
    text-align: center;
    color: #0798ec;
    font-size: 1.5rem;
    font-weight: bold;

    @include tablet {
      // padding-bottom: 3rem;
      font-size: 1.8rem;
    }
  }

  &__form {
    padding: 3rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  &__form_body {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  label {
    font-size: 1.3rem;
    color: black;
    
  }

  input {
    margin-top: 1rem;
    
  }
}