@use './mixins.scss'as *;
@use './variables.scss'as *;


.postPage {
  // border: 1px solid red;

  &__main {
    margin: 1rem;
  }

  &__header {
    color: $dark-blue;
    @include sub-header;
    padding: 1rem 1rem 0rem 1rem;

    @include tablet {
      font-size: 1.2rem;
      padding: 1.5rem 1rem 0.5rem 1rem;
      line-height: 2rem;
    }
  }

  &__content {
    @include body-text;
    font-size: 0.9rem;
    padding: 1rem;

    @include tablet {
      @include tablet-text;
      padding: 1.5rem;
    }
    
  }

  &__form {
    margin: 0 1rem;
  }

  &__comments {
    // border: 1px solid red;
  }

  &__comments_card {
    margin: 1rem;
    position: relative;
  }

  &__comments_content {
    
    padding: 0.5rem 1rem 1.5rem 1rem;
    @include body-text;

    @include tablet {
      padding: 1rem 1.5rem 2rem 1.5rem;
      @include tablet-text;
    }
  }

  &__comments_delete {
    position: absolute;
    right: 5px;
    top: 6%;
  }

}