@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.feed {
  padding: 1rem;

  @include tablet {
    margin: 0 2rem;
  }

  @include breakpoint {
    margin: 0 2.5rem;
  }


  &__news {
  height: 30vh;
  margin: 0 1rem;
  border-bottom: 2px solid $black;
  }

  &__article_header {
    @include section-header;
    padding-left: 1rem;
  }

  &__article {
    
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }


  &__article_title {
    color: black;
    text-decoration: none;
    @include sub-header;
    text-align: center;
    padding: 0 1rem;
  }

  &__article_src {
    text-align: right;
    padding: 0.5rem 0;
  }

  &__followers_section {
    @include section-header;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  &__followers {
    
  }

  &__empty {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 900px;
  }
}

