@use '../styles/mixins.scss'as *;
@use '../styles/variables.scss'as *;

.feed {
  // padding: 1rem;

  @include tablet {
    // padding: 2rem;
  }

 

  &__news {

    
  }

  &__article_header {
    @include section-header;
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: $dark-blue;
    
    @include tablet {
      padding: 1.5rem 0 2rem 0;
      font-size: 1.5rem;
    }
  }


  &__article_body {
    
    display: flex;
    flex-direction: column;
  }

  &__article_text {
    color: $dark-blue;
    margin-top: 0.2rem;
  }

  &__article_link {
    color: black;
    @include body-text;
    text-decoration: none;
    padding: 0.5rem 1rem 0 1rem;
  }

  &__followers_section {
    color: $dark-blue;
    @include section-header;
    padding: 1rem 1rem 0.5rem 1rem;

    @include tablet {
      padding: 1.5rem 0 1rem 0;
      font-size : 1.4rem;
    }
  }

  &__followers {
    
  }

  &__empty {
    color: $dark-blue;
    padding-top: 1rem;
    text-align: center;
  }

  &__empty_header {
    @include section-header;    
    margin-bottom: 1rem;

    @include tablet {
      margin-top: 2rem;
    }
  }

  &__empty_subhead {
    @include sub-header;
  }


  &__wrapper {
    margin: 0 auto;
    // max-width: 900px;
  }
}


