@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.profilecard {
  background-color: $black;
  color: white;

  &__card {
    background-color: #28282B;
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    max-width: 650px;
    
    @include beforeTablet {
      margin: 0 auto;
      padding: 2.5rem 2rem;  
    }

  }

  &__bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
  }

  &__status {
    @include body-text;
    
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__edit {
    padding: 1rem 0.5rem;
    display: flex;
    
    flex-direction: column;
    gap: 1rem;
  }

  &__edit_btn {
    
  }

  &__edit_list {
    font-weight: 500;
  }

  &__username {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include section-header;

    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__followers {
    background-color: #28282B;
    padding: 0rem 0 1rem 0;
    text-align: center;
    color: white;
  }

  &__followers_length {  
    display: flex;
    
    flex-direction: column;
    gap: 0.2rem;
  }

  &__followers_num {
    
  }

  &__followers_text {
    @include body-text;
 cursor:pointer;   
  }
}