@use '../../../styles/variables.scss'as *;
@use '../../../styles/mixins.scss'as *;


.profilecard {
  background-color: #fff;
  color: white;

  &__card {
  
  background-color: #28282B;
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  gap: 0.8rem;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__status {
    @include body-text;
    
  }

  &__edit {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__edit_list {
    font-weight: 500;
  }

  &__username {
    display: inline-flex;
    justify-content: space-between;
    @include section-header;
  }

  &__followers {
    background-color: #28282B;
    padding: 0rem 0 1.5rem 0;
    text-align: center;
  }

  &__followers_length {  
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__followers_num {
    
  }

  &__followers_text {
    @include sub-header;
  }
}